deploy
.sass-cache
.jekyll-metadata
node_modules
devel/assets/_bower_components
.idea
*.log
devel/_pages/**/*.css
devel/_pages/**/*.min.css
devel/_pages/**/*.min.css.gz
devel/assets/css
bower_components
