deploy
node_modules
bower_components

.sass-cache
devel/.sass-cache
.vscode
.idea
*.log

devel/.jekyll-metadata
devel/_assets/sass/utils/bourbon
devel/_assets/sass/utils/normalize

devel/_pages/**/*.css
devel/_pages/**/*.min.css
devel/_pages/**/*.min.css.gz
