<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.data.template.title }} | {{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta rel="author" content="{{ site.data.template.author-name }}">
	<meta name="publisher" content="{{ site.data.template.author-name }}">
	<meta name="copyright" content="{{ site.data.template.copyright }}">
	<meta name="google-site-verification" content="{{ site.data.template.google-webmasters-verification }}" />
	<meta name="owner" content="{{ site.data.template.author }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/{{page.url}}/main.min.css" />
	<link href='{{ site.data.template.google-font }}' rel='stylesheet' type='text/css'>
</head>