<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.data.template.title }} | {{ page.title }}</title>

	<!-- NOJS -->
	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>

	<!-- CDNS -->
	{% if site.environment == 'development' %}
		{% for item in site.data.template.cdnjs-local %}
			{% for nesteditem in item %}
				<script src="{{ site.baseurl | append:site.baseurl }}{{ nesteditem[1] }}"></script>
			{% endfor %}
		{% endfor %}

		{% for item in site.data.template.cdncss-local %}
			{% for nesteditem in item %}
				<link rel="stylesheet" href="{{ site.baseurl | append:site.baseurl }}{{ nesteditem[1] }}">
			{% endfor %}
		{% endfor %}
		<link rel="stylesheet" href="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}main.css" />
		<script src="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}scripts.js" async></script>
	{% else %}
		<!-- META TAGS -->
		{% for item in site.data.template.meta %}
			{% for nesteditem in item %}
				<meta property="{{ nesteditem[0] }}" content="{{ nesteditem[1] }}">
			{% endfor %}
		{% endfor %}

		<!-- CDNS -->
		{% for item in site.data.template.cdnjs %}
			{% for nesteditem in item %}
				<script src="{{ nesteditem[1] }}"></script>
			{% endfor %}
		{% endfor %}

		{% for item in site.data.template.cdncss %}
			{% for nesteditem in item %}
				<link rel="stylesheet" href="{{ nesteditem[1] }}">
			{% endfor %}
		{% endfor %}
		<link rel="stylesheet" href="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}main.min.css" />
		<script src="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}scripts.min.js" async></script>
		<!-- FEED -->
		<link rel="alternate" type="application/rss+xml" title="BERINGSEAVERSUS.ME RSS" href="/feed.xml">

		<!-- ANALYTICS -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-53689917-1', 'auto');
			ga('send', 'pageview');
		</script>
	{% endif %}

</head>
