{% if site.environment == 'development' %}
	<link rel="stylesheet" href="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}main.css" />
	<script src="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}scripts.js" async></script>
{% else %}
	<link rel="stylesheet" href="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}main.min.css" />
	<script src="{{ site.baseurl | append:site.baseurl }}{{ site.data.template.codes-path }}scripts.min.js" async></script>
{% endif %}
